JWT_SECRET=your-super-secret-jwt-key-here
SERVER_PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/loomi

ADMIN_EMAIL=admin@loomi.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Administrador
